$color-background: #1F2426;
$color-menu-deactivated: #7D8C93;
$color-menu-active: #FFFFFF;
$color-aqua-marine: #2ccae4;
$color-dark-hover: #161717;
$color-bluegreen: #008872;
$color-cerise: #cb1183;
$color-dark-aqua-marine-two: #1ea2b8;
$color-dark-aqua-marine: #22afc6;
$color-dark-grey: #333333;
$color-dark-grey-two: #4c5052;
$color-dark-grey-three: #4b4d51;
$color-dark-black: #1d1d1d;
$color-dusty-orange: #f16b28;
$color-faded-red: #e03f50;
$color-bright-red: #ff7272;
$color-grey: #eaedf1;
$color-gunmetal: #49505c;
$color-hover-silver: #eaeaf0;
$color-light-eggplant: #6b3a82;
$color-light-steel: #f3f5f7;
$color-light-teal-two: #89d1dc;
$color-light-teal: #9cdce6;
$color-light-black: #2a2a2a;
$color-light-black-two: #393939;
$color-light-grey: #a9a9a9;
$color-light-topaz: #00b3d1;
$color-orangey-yellow: #fdb913;
$color-pale-grey-two: #f8f8f9;
$color-pale-grey: #EAEDF1;
$color-placeholder-text: #aaaaaa;
$color-seaweed: #10c979;
$color-silver-three: #e9edef;
$color-silver-two: #d6d8db;
$color-silver: #b9bcc0;
$color-steel-hover: #eaedf1;
$color-steel: #60666D;
$color-strange-blue: #128da1;
$color-strange-silver-two: #cccccc;
$color-strange-silver: #989b9e;
$color-strange-white-two: #ebedef;
$color-strange-white: #e8ecf1;
$color-topaz-dark: #0ebb9f;
$color-topaz-three: #10e5c3;
$color-topaz-two: #11cbad;
$color-topaz: #18acc4;
$color-turquoise-blue: #0db6d1;
$color-water-blue: #118dcb;
$color-yellow-dark: #f5a623;
$color-bluish-grey: #7d8c93;

$color-golden: #DE9E1F;
$color-yellow-sum: #FDB913;
$color-dark-turquoise: #666666;
$color-turquoise: #18ACC4;
$color-turquoise-light: #2CCAE4;
$color-spring-green: #10C979;
$color-cerise-red: #E03F50;
$color-black-gray: #202527;
$color-dark-gray: #272D30;
$color-space-gray: #3B4347;
$color-star-gray: #49555B;
$color-chrome-gray: #7D8C93;
$color-silver-gray: #C2C6CC;
$color-light-gray: #E8ECF1;
$color-lightest-gray: #F6F8FA;
$color-white: #FFFFFF;
$color-black: #000000;
$color-mercury: #E5E5E5;
$color-tuatara: #2A2A28;
$color-submarine: #c2c9cb;
