//========== NORMAL MODE COLORS DEFINITION ==========
$color-box-header-background: $color-white;
$color-box-header-border: $color-strange-white;
$color-box-header-text: $color-steel;

$color-main-button-background: $color-topaz;
$color-main-button-shadow: $color-strange-blue;
$color-main-button-text: $color-white;
$color-main-button-background-hover: $color-aqua-marine;
$color-main-button-shadow-hover: $color-turquoise-blue;
$color-main-button-background-active: $color-topaz;
$color-main-button-shadow-active: $color-strange-blue;
$color-main-button-background-disabled: $color-light-teal;
$color-main-button-shadow-disabled: $color-light-teal;
$color-main-button-text-disabled: $color-white;

$color-call-button-background: $color-topaz-two;

$color-input-field-background: $color-white;
$color-input-field-text: $color-steel;
$color-input-field-text-focus: $color-steel;
$color-input-field-validation-error: $color-faded-red;
$color-input-field-placeholder: $color-light-grey;

$color-links-default: $color-steel;

$color-menu-background: $color-dark-aqua-marine;
$color-menu-background-hover: $color-dark-aqua-marine-two;

$color-navbar-background: $color-white;
$color-navbar-brand: $color-silver;
$color-navbar-separator: $color-strange-white;
$color-navbar-hr: $color-strange-white;
$color-navbar-link: $color-turquoise-blue;
$color-navbar-border: transparent;

$color-order-detail-background: $color-white;
$color-order-detail-line: $color-pale-grey;
$color-order-detail-text: $color-steel;
$color-order-detail-warning: $color-faded-red;
$color-order-header-text: $color-gunmetal;

$color-profile-background: $color-pale-grey;
$color-profile-border: $color-strange-white;

$color-profile-card-background: $color-white;
$color-profile-card-border: $color-strange-white;
$color-profile-card-header-border: $color-strange-white;
$color-profile-card-header-selected: $color-gunmetal;
$color-profile-card-header-text: $color-gunmetal;
$color-profile-card-shadow: $color-strange-white-two;
$color-profile-card-line: $color-strange-white;
$color-profile-card-text: $color-gunmetal;
$color-profile-card-no-contacts: $color-gunmetal;

$color-profile-name-edit-info: $color-steel;
$color-profile-name-element: $color-gunmetal;
$color-profile-name-text-blur: $color-steel;
$color-profile-name-text: $color-gunmetal;
$color-profile-name-text-deleted: $color-faded-red;
$color-profile-name-input: $color-steel;

$color-profile-user-info-input: $color-steel;
$color-profile-user-info-input-background: $color-white;
$color-profile-user-info-exclusion-confirmation: $color-steel;
$color-profile-user-info-exclusion-action: $color-faded-red;
$color-profile-user-info-exclusion-cancel: $color-gunmetal;

$color-search-fake-modal-background: $color-pale-grey;
$color-search-modal-background: $color-white;
$color-search-result-selected-background: $color-topaz-two;
$color-search-result-text-hover: $color-steel;
$color-search-result-text: $color-steel;

$color-tab-header-inactive: $color-steel;
$color-tab-header: $color-gunmetal;

$color-tag-background: $color-silver-three;
$color-tag-text: $color-gunmetal;

$color-ticket-active-background: $color-topaz-two;
$color-ticket-background: $color-white;
$color-ticket-border: $color-strange-white;
$color-ticket-filter-background: $color-white;
$color-ticket-filter-text: $color-steel;
$color-ticket-text: $color-gunmetal;
$color-ticket-selected-text: $color-white;
$color-ticket-text-old: $color-steel;
$color-ticket-legend-text: $color-gunmetal;
$color-ticket-hover-border: $color-light-gray;


$color-modal-content: $color-white;
$color-modal-message: $color-gunmetal;
$color-modal-body: $color-gunmetal;
$color-modal-title: $color-gunmetal;
$color-modal-header-border: $color-mercury;
$color-modal-border: $color-black;
$color-modal-field-description: $color-steel;

$color-opa-background: $color-white;

$color-timeline-card-text: $color-steel;
$color-timeline-icon-background: $color-topaz;
$color-timeline-icon-legend-background: $color-white;
$color-timeline-card-background: $color-light-steel;
$color-timeline-icon-legend-text: $color-topaz;
$color-timeline-card-divisor: $color-pale-grey;
$color-timeline-card-background-shadow: $color-pale-grey;
$color-timeline-highlight-text: $color-topaz;

$color-field-name-text: $color-steel;
$color-ticket-filter-container-border: $color-space-gray;

$color-order-step-checked: $color-topaz-two;
$color-order-step-not-checked: $color-silver;

$color-header-1: $color-steel;
$color-header-2: $color-gunmetal;
$color-header-3: $color-gunmetal;
$color-header-4: $color-gunmetal;
$color-header-5: $color-steel;
$color-header-6: $color-steel;

$color-menu-text: $color-white;

$color-highlight-link: $color-topaz;
$color-default-link: $color-steel;

$color-university-tweets-background: $color-profile-card-background;
$color-university-tweets-border: $color-strange-white;
$color-university-tweets-detail-header-text: $color-gunmetal;
$color-university-tweets-detail-timestamp-text: $color-gunmetal;
$color-university-tweets-content-border: #e1e4e7;
$color-university-tweets-horizontal-line: #e1e4e7;

$color-table-result-odd: $color-pale-grey-two;
$color-table-result-even: $color-white;
$color-table-result-text: $color-steel;
$color-table-result-hover: $color-hover-silver;
$color-table-result-header-border: $color-strange-white;
$color-table-result-border: $color-strange-white;

$color-course-search-background: $color-white;
$color-call-icon-background: $color-topaz-two;
$color-course-result-border: $color-strange-white;

$color-text-border-default: $color-strange-white;
$color-text-border-focus: $color-aqua-marine;
$color-text-border-error: $color-faded-red;

$color-text-login: $color-dark-gray;
$color-text-login-bold: $color-black;

$color-effective-panel-graph-border: $color-black;
$color-effective-panel-text: $color-black;
$color-effective-panel-legend-background: $color-white;
$color-effective-panel-tooltip-background: $color-white;
$color-effective-panel-tooltip-text: $color-black;

$color-stats-background: $color-white;

$color-inactive-slider: $color-strange-white;
$color-active-slider: $color-topaz;

$color-bo-new-comment-info: $color-steel;
