use Mix.Config

# Configure your database
config :ppa, Ppa.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "dev",
  password: "dev",
  database: "ppa_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
