<input id="capture-period" type="hidden" value="<%= @actual_capture_period.id %>">
<input id="channel-hash" type="hidden" value="<%= @channel_hash %>">
<input id="token" type="hidden" value="<%= @token %>">
<div id="app">
  <analysis-panel :managing-user="<%= user_has_managing_ability(@conn) %>"></analysis-panel>
</div>

<%= page_component component: 'analysisPanel' %>
